{% extends 'base.html' %}
{% block title %} User Listing {% endblock %}
{% block content %}
<h1 class="text-center">Users</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col col-4">
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item"><a href="/users/{{user.id}}">{{user.get_full_name()}}</a></li>
                {% endfor %}
            </ul>
            <a href="/users/new" class="btn btn-primary">Add User</a>
        </div>
    </div>
</div>




{% endblock %}